.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 1.5rem;
    border:1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image{
    height: 12rem;
    border-radius: 1.5rem 1.5rem 0 0; 
    overflow: hidden;
}

.portfolio__item p{
    text-align: center;
    margin: 1rem 0 1.1rem;
    font-size: 1rem;
}
.portfolio__item .project-title{
    color: #BFACE2;
    font-weight: 800;
    letter-spacing: 1.5px;
}
.tech_stack{
    text-align: center;
    margin-bottom: 1.5rem;
    color: #2196f3;
}
.tech_stack:hover{
    color: #4fc3f7    ;
}
.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.portfolio__item-cta a{
    border-color: var(--color-primary-variant);
    margin: auto;
}



/* -------------- Media Queries for Medium Devices-------- */

@media screen and (max-width:1024px){
    
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
  }

/* -------------- Media Queries for Small Devices-------- */

@media screen and (max-width:600px){
  .portfolio__container{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}